html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    /*background-image: url('../img/scottish-fold-cat-1.jpg');*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    margin-left: 2%;
}

.page-header {
    margin-top: 1%;
    margin-left: 10px;
}

.p5Canvas {
    border: 1px solid black;
}

.nav-container {
    overflow: hidden;
    background-color: #e9e9e9;
}

.nav-container a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.initiate {
    background-color: yellow;
}

.content-container {
    /*border: 1px solid black;*/
    height: 100%;
    width: 70%;
    margin-left: 10px;
    background-color: #e9e9e9;
    padding: 1px;
    border: 1px solid black;
}

.topic-header {
    margin-left: 10px;
}

.nav-container a:hover {
    background-color: grey;
}

.nav-container a:active {
    color: #e9e9e9;   
}

.w3-code {
    font-size: 15px;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border: 4px solid #4CAF50;
    word-wrap: break-word;
    font-family: Consolas, "Courier New";
}

.w3-border {
    border: 1px solid #ccc!important;
}

.clearpadding {
    padding: 0;
    margin: 0;
}

.tutorial-header {
    font-size: 22px;
    margin-left: 1%;
}

.create-project {
    position: relative;
    left: 50px;
    width: 700px;
    height: 500px;
}

.setup-solution {
    position: relative;
    left: 50px;
}

.import-script {
    position: relative;
    left: 50px;
}

.canvas-setup {
    position: relative;
    left: 50px;
}

.hint {
    position: relative;
    left: 25px;
    font-size: 14px;
}

.draw-setup {
    position: relative;
    left: 50px;
}

.menu-option-color {
    position: relative;
    left: 50px;
}

.menu-option-size {
    position: relative;
    left: 50px;
}

.menu-option-shape {
    position: relative;
    left: 50px;
}

.close-menu-option {
    position: relative;
    left: 50px;
}

.menu-handler {
    position: relative;
    left: 50px;
}

.header-button-setup {
    position: relative;
    left: 50px;
}

.html-setup {
    position: relative;
    left: 50px;
}

.css-setup {
    position: relative;
    left: 50px;
}

.finished-project {
    position: relative;
    left: 50px;
    border: 1px solid black;
    width: 1225px;
    height: 500px;
}

.reference-links {
    margin-left: 2%;
}